/* CSS VARIABLES */
:root {
    --bg-color: #0a192f;
    --card-bg: #112240;
    --text-main: #ccd6f6;
    --text-secondary: #8892b0;
    --accent: #64ffda;
    --white: #ffffff;
    --font-main: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: var(--font-main);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* so the footer will be always at the bottom */
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul {
    list-style: none;
}

/* NAVIGATION */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgba(10, 25, 47, 0.95);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow:  0 5px 20px rgba(0,0,0,0.2);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent);
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a:hover { color: var(--accent); }

.nav-links a.active {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}

/* --SECTIONS GENERAL-- */
main { flex: 1; }

.section-padding {
    padding: 80px 10%;
}

.section-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.section-title::before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--accent);
    margin-right: 15px;
}

/* HOME */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    padding: 0 10%;
}

.hero h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    color: var(--white);
}

.hero h2 {
    font-size: 1.8rem;
    color: var(--text-secondary);
    margin: 15px 0;
}

.highlight {color: var(--accent)}

.hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--accent);
    box-shadow: 0 0 20px rgba(100, 255, 218, 0.2);
}

.btn-primary {
    display: inline-block;
    padding: 12px 28px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    margin-top: 25px;
    font-family: monospace;
}

.btn-primary:hover {
    background-color: rgba(100, 255, 218, 0.1);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: default;
}

.card:hover {
    transform: translateY(-7px);
}

.card h3 { color: var(--white); margin-bottom: 10px; }


/* RESUME */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-tag {
    color: var(--accent);
    border: 1px solid var(--accent);
    padding: 10px 20px;
    border-radius: 50px;
    font-family: monospace;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
}

.skill-tag:hover {
    background-color: rgba(100, 255, 218, 0.15);
    box-shadow: 0 0 15px var(--accent);
    transform: scale(1.1);
    border-color: var(--accent);
}

.timeline-item {
    border-left: 2px solid var(--accent);
    padding-left: 20px;
    margin-bottom: 30px;
    position: relative;
}

.timeline-item::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--bg-color);
    border: 2px solid var(--accent);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -8px;
}

.date {
    font-family: monospace;
    font-size: 0.9rem;
    color: var(--accent);
    margin-bottom: 5px;
}

/* CONTACT FORM */
.contact-container {
    max-width: 600px;
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 15px;
    background-color: var(--bg-color);
    border: 1px solid #233554;
    color: var(--text-main);
    border-radius: 4px;
    font-family: inherit;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--accent);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    color: var(--text-secondary);
    font-size: 0.85rem;
    margin-top: auto;
}

/* RESPONSIVENESS - MOBILE AND TABLET */

/* TABLET */
@media (max-width: 900px) {

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
        height: auto;
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container {
        padding: 30px;
    }

    .nav-links {
        gap: 20px;
    }
}

/* MOBILE */
@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        padding: 15px 5%;
        gap: 15px;
    }

    .section-padding {
        padding: 50px 7%;
    }

    .hero h1 {
        font-size: 2.3rem;
    }

    .hero-image img {
        width: 220px;
        height: 220px;
    }

    .services-container {
        grid-template-columns: 1fr;
    }

    .section-title::before {
        display: none;
    }
    
    .section-title {
        justify-content: center;
    }

    .nav-links {
        gap: 15px;
        font-size: 0.9rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}